@using AzureSaturday.Helpers
@{
    ViewData["Title"] = "FAQ " + Constants.Brand;
}

<h1>
    @Constants.Brand FAQ
</h1>

<p>
    Below are some of the most frequently asked questions for an @Constants.Brand. This information is being provided in brief to cover those most prominent questions. For more information and best practices please download the OneNote/PDF that covers organizing and running an AzureSaturday in detail!
</p>
<h2>Frequently Asked Questions</h2>
<h3>Who manages AzureSaturday Events at the global level?</h3>
<p>

    <ul>
        <li>
            Benjamin Abt (<a target="_blank" href="https://twitter.com/@@abt_benjamin">@@abt_benjamin</a>)
        </li>
        <li>
            Tom Janetscheck (<a target="_blank" href="https://twitter.com/@@azureandbeyond">@@azureandbeyond</a>)
        </li>
        <li>
            Max Melcher (<a target="_blank" href="https://twitter.com/@@maxmelcher">@@maxmelcher</a>)
        </li>
    </ul>
</p>
<h3>
    What is the @Constants.Brand Twitter handle?
</h3>
<p>
    <a target="_blank" href="https://twitter.com/@@azuresaturday">@@azuresaturday</a> (this account is used for official updates as well)
</p>
<h3>
    What are other helpful sites?
</h3>
<p>
    Community Facebook Group: <a href="https://facebook.com/azuresaturday" target="_blank">https://facebook.com/azuresaturday</a>
</p>
<p>
    Interested in running an @Constants.Brand Event? Please check out our <a href="/Home/FAQ">FAQ page</a>!
</p>

<h3>
    How can I organize an AzureSaturday Event?

</h3>
<p>
    There are a few things that must be completed prior to officially hosting an event: You've done some soul searching.<br />
    Considered the amount of work and the community value in hosting an AzureSaturday.
    <ol>
        <li>
            Is there another event already in your city? Depending on the proximity of that event, the @Constants.Brand Events Board may restrict having another officially sanctioned @Constants.Brand Event in that area to maintain the integrity and supportability of an already established @Constants.Brand Event. If you have concerns about this event or if it has been more than 18 months since that event has happened, please reach out to the @Constants.Brand Events Board and let us try to help.
        </li>
        <li>
            You MUST have a venue booked and ready to go prior to announcing the event on the @Constants.Brand website. This keeps the information as well as the expected date consistent to the public.
        </li>
        <li>
            You've read over the official @Constants.Brand guide located HERE. The information within is Golden.
            <!-- TODO: Add guide -->
        </li>
        <li>
            You've calculated the total cost of your event, and after securing your location you've done a sponsor drive to raise the funds. All events will be responsible for raising and managing the funding required.
        </li>
    </ol>
</p>
<h3>
    What are the policies to host an Event?

</h3>
<p>
    There are only a few polices in place to maintain overall consistency of the brand. Hosts will be required to follow each of the following to ensure that @Constants.Brand Events are uniform across the range of events that happen globally per year.

    <ol>
        <li>
            The first and by far one of the most important: Your AzureSaturday Event is a community event focused on the attendees. While Event sponsors are certainly welcome and appreciated, the focus of the event should always be on educating attendees and community building.
        </li>
        <li>
            AzureSaturday Events are always free - You may never charge for an event.
        </li>
        <li>
            Attendee Information is private - unless an attendee opts-in to give their information to sponsors, you may not share it. Local regulations may apply, too!
        </li>
        <li>
            @Constants.Brand Events are open to the public - All attendees should be welcome.
        </li>
        <li>
            Always hold it on Saturday.
        </li>
        <li>
            You must use the default @Constants.Brand Events images that are given to you - You may personalize the logo to fit your event's local flair, but the logo itself cannot be altered and must be used.
        </li>
        <li>
            All of your event content, information, etc. must be hosted and live on the @Constants.Brand website - If the website is lacking any content/capability you feel you need, please reach out to the @Constants.Brand Events Board directly. If your event is not hosted on the @Constants.Brand site, and you haven't been cleared to host it elsewhere for cultural/unforeseen reasons, your event will not be supported as an official AzureSaturday Event.
        </li>
        <li>
            You will be completely responsible for all of your event's fundraising and handling of these funds - You and your event are ultimately responsible for the funding of said event. This includes all of the aspects of funding, including gathering funds, dispersing funds as appropriate, and any legal/financial concerns that arise from these activities. You may never go negative in funds, or speculate purchases based on expected funds coming in. You must have what you spend. The @Constants.Brand Events Board cannot assume any responsibility for these actions.
        </li>
    </ol>
</p>

<h3>
    Do you have any documentation or best practices from past events?
</h3>
<p>
    We certainly do! We need some time to put our best practices in readable form.
</p>
<h3>
    Who "owns" a city or an event?
</h3>
<p>
    For new events in a city, ownership is granted on a "first come - first served" basis, with ownership granted to those individuals that first contact the @Constants.Brand Events Board via email regarding their intent. Ideally, prospective event organizers will have secured a date and at least a pending venue. Announcing an event online or via any social media will not constitute contacting the @Constants.Brand Events Board and does not guarantee ownership of an event.
</p><p>
    The original organizers of an AzureSaturday Event retain ownership of that event for 18 months after the last event they actively coordinated. If 18 months pass with no event in that city, the event ownership may be transferred to another interested party; however, the @Constants.Brand Events Board will make a reasonable effort to contact the original host. If after 3 days that host is unreachable, or choses to not host an event, the event will be turned over to requesting party. If the event is transferred, access to the site will be granted as-is with all existing content intact to help the success of future events.
</p><p>
    When selecting a date for your event, be thoughtful as to how your event and the date will affect other events around you. (Speaker/Sponsor draw, location, availability, etc.). If events are too close to each other both in time and distance, both events suffer due to lack of sponsor and attendee draw. This consideration applies not only to fellow @Constants.Brand Events in your region, but other events as well.
</p> <p>
    While there are no specific rules regarding geographic proximity of events, be cognizant of the timing as mentioned above in order to reduce competition between events. Try to space events in close geographic proximity as far apart as possible to ensure the greatest speaker, sponsor, and attendee draw.
</p> <p>
    Date and geographic proximity will be considered by the @Constants.Brand Events Board when granting event approval. These factors will be considered on a case-by-case basis depending on the events in question.
</p>